html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

#app > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  height: 32px;
  text-indent: 8px;
  text-transform: uppercase;
  width: calc(100% - 5px);
}

.letterbox {
  padding: 10px;
}

.letterbox > input {
  font-size: 20px;
  height: 40px;
  letter-spacing: 3px;
  line-height: 40px;
}

.letterbox > input:placeholder-shown {
  text-transform: unset;
  letter-spacing: unset;
}

.controls {
  align-items: center;
  background-color: #eee;
  border-top: 2px solid #fff;
  display: flex;
  max-width: 100%;
}

.controls > div {
  padding: 10px;
}

.controls > div:last-child {
  border-left: 2px solid #fff;
  flex-grow: 1;
}

.controls > div > label {
  color: #666;
  display: block;
  font-size: 14px;
  text-align: right;
}

.controls > div > small {
  color: #999;
  display: block;
  font-size: 11px;
}

.boardbox {
  background-color: #fff;
  flex-grow: 1;
  overflow: auto;
}

.boardbox > .board {
  padding: 50px;
  width: fit-content;
}

.boardbox > .board > .row {
  display: flex;
  white-space: nowrap;
}

.boardbox > .board > .row > .cell {
  border-radius: 3px;
  border: 1px solid #000;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: text-top;
  width: 40px;
  min-width: 40px;
}

.boardbox > .board > .row > .cell.empty {
  border-radius: 0;
  border-color: #ddd;
}

.tray {
  color: #999;
  font-size: 24px;
  letter-spacing: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.message {
  background-color: #fff;
  color: #999;
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
}

.show-big-message .boardbox,
.show-big-message .tray {
  display: none;
}

.show-big-message .message {
  flex-grow: 1;
}
